html{
    width:100%
}

body {
    font-family: 'Arsenal', sans-serif;
    font-weight: 600;

    width:100%;
    background-image: url("https://cdn.discordapp.com/attachments/851211221414838293/953945538917703700/backLargeuse.png");
    background-size: 100%;
    background-color: blanchedalmond;
    margin: 0;
}

@media(min-width:1920px){
    body{
        background-color:green;
    }
}

nav {
    max-height: 100px;
    background-color: #ff6;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.options{ 
    padding: 0;
    list-style-type: none;   
    display:flex;
    justify-content: space-between;
    padding: 5px;
}
@media(max-width:576px){
    .options{
        flex-direction: column;
    }
}

.listItem{
    padding: 5px;
    margin: 5px;
    background-color: #e8d951;
    text-align: center;
    min-width: 5rem; 
}

a{
    color:black
}

h1{
    padding: 5px;
    background-color: #e8d951;
}

h1:hover{
    color:blue;
}

h2 {
  background-color: #FFDE59;  
}

h3{
    background-color: #FFDE59;
}

li:hover{
    color:blue;
}

.logo{
    size: 100%;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 60%;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 1rem;
    background-color: beige;
}

footer{
background-color: #ff6;
width: 100%;
height: 2rem;
}